.authentification{
    background-image:url(back.png);
    background-size: cover;
}
.auth{
    width:30%; 
    margin-top:10%;

}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
.formrecherche{
    width: 25%;
 
}
#rechercher{
    width: 10%;
    background-color: black;
    color:white;
 
}
.sup{
  margin-left:30%; 
}
.pied{
  height: 50px;
  width: 100%;
  text-align: center;
  background: #a1d7fc;
}